/* banner style */
.banner {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    width: 1400px;
    height: 700px;
    text-align: right;
    display: flex;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin: 193px 230px 24px 845px;
    width: 525px;
    height: 228px;
}

.header-description {
    color: #444343;
    margin: 24px 230px 32px 876px;
    width: 494px;
    height: 78px;
}

.btn-primery {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    background: #F15B22;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    margin: 28px 230px;
    padding: 20px 25px;
}

/* main style */
.about {
    display: flex;
    width: 1067px;
    height: 735.3px;
    margin: 153px 300px 90px 225px;
    gap: 0
}

.about-description {
    width: 416px;
    height: 406.64px;
    margin: 182px 308px 290px 80px;
}

.about-image {
    width: 569px;
    height: 735.3px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    width: 288px;
    height: 95.56px;
    margin-bottom: 20px;
}

.lorem {
    width: 416px;
    height: 105.73px;
    margin-top: 24px;
    margin: 10px 23px 6px 2px;
}

.checklist {
    width: 349px;
    height: 164.69px;
    margin: 10px 23px 6px 2px;
}
p i{
   color:blue;
}
    
/* my plan style */
.section-title {
    width: 179px;
    height: 47px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin: 50px 500px;
}

.skill-container {
    display: flex;
    width: 1141px;
    height: 202.96px;
    margin: 50px 300px;
}

.skill {
    width: 214px;
    height: 197px;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    width: 174px;
    height: 35px;
    color: #151414;
}

.icon {
    width: 92.96px;
    height: 92.96px;
    padding-bottom: 2px;
}

.icon-description {
    color: #737272;
    width: 214px;
    height: 29px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

/* contact style */
.contact-imag {
    margin: 150px 300px 200px 174px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    width: 840px;
    height: 300px;
    background-image: url(../images/watch.png);
    background-size:cover;
    border-radius: 8px;
}
.contact-info {
    width: 5px;
    height: 0px;
    left: 94px;
    top: 2280.96px;
    margin: 4px 1px 7px px;
 border-radius: 8px;
}
.contact-sub-title {
    position: relative;
  text-align: center;
  color:red
}

.contact-title {
    width: 459px;
    height: 94px;
    margin: 4px 300px 2px 70px;
    font-weight: 600;
    font-size: 40px;
    position: absolute;
  bottom: 150px;
  left:5px
}
.call {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    margin: 4px 30px 7px 70px;
    position: absolute;
  bottom: 80px;
  left: 150px;
}
.gradient{
    width: 800px;
    height: 300px;
    padding-top: 
}
/* footer style */
.footer{
    background: #151414;
    width: 1400px;
height: 547px;
display: flex;
margin-top: 100px;
}
.footer-info{
    color:white; 
    margin: 84px 230px 130px 120px;
}
.footer-title{
    width: 148px;
height: 53px;
font-weight: 700;
font-size: 45px;
}
.footer-description{
    width: 485px;
height: 78px;
}
.social-info{
    width: 186px;
height: 146px;
}
.social-address{
    width: 184px;
height: 26px;
}
.social.id{
    width: 47px;
height: 46px;
}
/* subscribe style */
.subscribe{
    color:white; 
    text-align:center;
    margin: 104px 50px  30px;
    padding: 5px 150px 50px 30px;
}
.subscribe-title{
    width: 123px;
height: 29px
font-weight: 600;
font-size: 25px;
}
.subscribe-email{
    width: 275px;
height: 54px;
font-weight: 400;
font-size: 18px;
background: #151414;
}
.submit{
    background: #005FAC;
border-radius: 8px;
width: 150.11px;
height: 54px;
font-weight: 600;
font-size: 20px;
color: white;
background-position: left;
margin-right: 140px ;
margin-top: 10px;
}


